/**{
    border: 0;
    margin: 0;
}
*/

body {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DISPLAY */

#inputDisplay {
    text-align: right;
    color: black;
    font-size: 35px;
    border: black solid 1px;
    width: 248px;
}
#outputDisplay {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    color: gray;
    border: black solid 1px;
    border-top: 0;
    width: 250px;
    height: 35px; 
}


/* KEYPAD */
.row {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 252px;
}

.column {
    width: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
}

#clear {
    display: none;
}

#back {
    display: flex;
}